<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ih_hi.digitalbloodbank">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".LogIn" />
        <activity android:name=".Registration" />
        <activity android:name=".DonorList" />
        <activity android:name=".DonorProfile" />
        <activity android:name=".EditProfile" />
        <activity android:name=".SmsOptions" />
        <activity android:name=".AboutApp" />
        <activity android:name=".Privacy" />
        <activity android:name=".Help" />
        <activity android:name=".Donation" />
    </application>

</manifest>